---
import Layout from '../layouts/Layout.astro';
import '@/styles/globals.css'

---

<Layout title="Welcome to Astro.">
	<main>
		<div class="overflow-hidden divide-y divide-gray-200 rounded-lg shadow">
			<div class="px-4 py-5 sm:px-6">
			  <!-- Content goes here -->
			  <!-- We use less vertical padding on card headers on desktop than on body sections -->
			</div>
			<div class="px-4 py-5 sm:p-6">
				<h1 class="text-4xl ">This is My Heading</h1>
			</div>
			<div class="px-4 py-4 sm:px-6">
			  <!-- Content goes here -->
			  <!-- We use less vertical padding on card footers at all sizes than on headers or body sections -->
			</div>
		  </div>		  
	</main>
</Layout>


